

body{
    background-color:white;
    margin:0 auto;
    padding:0;
    font-size:0.75em;
}

/* 시작(header.jsp) / 종료(footer.jsp) */
#wrap{
    width:970px;
    background-color:white;
    min-height:780px;
    margin-right:auto;
    margin-left:auto;
	text-align: center;
}

.clear{clear:both;}

#logo{
    float:left;
    margin:20px 0 20px 380px;
}

#footer {
	width: 940px;
	display: block;
	float: left;
}

/* 로그인, 회원가입 버튼 설정 */
#admin_logout{
	float:right;
    margin-top:20px;
}

#users_login_join{
	float:right;
    margin-top:20px;
}

#users_login_join ul{
    list-style:none; 
}

#users_login_join ul li{
	display:block; 
    height:30px;
    float:left;
}

#users_login_join a{
    text-decoration:none;
    padding: 0 15px;
    color: #000;
    font-weight: bold;
}

#users_login_join a:hover{
    color: #e6e600;
    font-weight: bold;
}

/* 로그인 폼 설정 */
#login_form {
	text-align: center;
}

#login_form form#loginForm {
	width: 600px;
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px 0;
}

#loginForm label {
	width: 95px;
	float: left;
	margin-top: 12px;
	margin-left: 150px;
	right: 0;
}

#loginForm input {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
}

#loginbtn {
	margin: 20px 0 70px 120px;
}

#loginbtn input{
	padding: 2px 10px;
}

/* 회원가입 폼 설정 */
#join_form {
	text-align: center;
}

#join_form form#join {
	width: 600px;
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px 0;
}

#join_form table {
	margin-left: 100px;
}

#join_form table th {
	width: 150px;
}

#join_form table td {
	width: 300px;
		text-align: left;
}

#join_form input.birth {
	width: 82px;
}

#join_form input.birth_gen {
	width: 10px;
}

#buttons {
	margin: 20px 0 10px 30px;
}

#buttons input{
	padding: 5px;
}



/* 헤더 메인메뉴 설정 */
#header_menu{
    padding-bottom:30px;
	margin:0 auto;
	text-align: center;
}

#header_menu ul{
	list-style:none; 
}

#header_menu ul li{
	float: left;
	position: relative;
	font-size: 17px;
	padding:0 45px;
}

#header_menu a{
    text-decoration:none;
    color:rgb(20, 92, 28);
}

#header_menu a:hover{
    color: #e6e600;
}

/* 메인메뉴에 마우스 가져가면 보이는 드롭다운 서브메뉴 설정 */
#header_menu ul li ul.header_submenu{
	display: none;
	position: absolute;
	left: 0;
	padding: 0;
    line-height: 25px;
    background-color: white;
}

#header_menu ul li:hover ul.header_submenu{
	display:block; 
}

#header_menu ul li ul.header_submenu li{
	font-size: 13px;
}

.header_submenu a{
	white-space:nowrap;
    color:rgb(20, 92, 28);
}

.header_submenu a:hover{
    font-weight: bolder;
}

/* 캠핑족장 사이트 소개페이지 설정 */
#intro {
	/*background-color: rgb(17,34,50);*/
	background-image: url(../images/intro_bg.jpg);
	background-size: 970px 500px;
	height: 500px;
	color: white;
	padding-top: 20px;
}

/* 캠핑족장 예약을 위한 조회부분 설정 */
form#camp_search {
	text-align: center;
	margin: 0 50px;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	height: 85px;
}

form#camp_search div{
	display: block;
	float: left;
	margin-left: 55px;
}

form#camp_search input#btn{
	float: rigth;
	margin: 30px 0 0 0;
}


/* 캠핑장 리스트 조회 리스트 페이지 설정*/
#camp_list {
	text-align: center;
	margin-top: 20px;
}

#camp_list img#campImages {
	margin: auto;
}

#campZoneList {
    width: 500px;
    height: 140px;
    border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	margin: 20px auto;
	padding: 0;
}

#campZoneList table{
	margin: 5px 0  0 15px;
    width: 380px;
    height: 140px;
	display: block;
    float: left;
}

#campZoneList #button {
	display:block; 	
	float: left;
	margin-top: 60px;
	margin-right: 15px;
}

/* 예약페이지 설정*/
#campOrder {
	text-align: center;
}

#orderForm {
	margin: auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px;
}

#campOrder div#buttons{
	margin: auto;
	padding: 20px;
}

/* 예약 현황 리스트 설정 */
table#orderList tr th{
	border-bottom: 1px solid #000;
	line-height: 30px;
}

table#orderList tr td{
	line-height: 30px;
}

/* 예약취소 리스트 설정 */
table#cancelList tr th{
	border-bottom: 1px solid #000;
	line-height: 30px;
}

table#cancelList tr td{
	line-height: 30px;
}

table#cancelList tr td a{
	text-decoration: none;
	color: blue;
}

/* 마이페이지 내정보 페이지 설정*/
#userForm {
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px;
}

#userForm tr th{
	line-height: 30px;
	border: none;
}

#userForm tr td{
	line-height: 30px;
	border: none;
}

#button{
	margin: 20px;
}

#button a {
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	text-decoration: none;
	color: black;
	padding: 5px 10px;
}

/* 마이페이지 내정보 수정페이지 설정 */
#userUpdate {
	text-align: center;
}

#userUpdate form#usermodify {
	width: 600px;
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px 0;
}

#userUpdate label {
	width: 95px;
	float: left;
	margin-top: 12px;
	margin-left: 130px;
	right: 0;
}

#userUpdate input {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	padding: 0;
}

#btn {
	margin: 20px 0 50px 200px;
}

#btn input{
	padding: 5px;
}

/* 회원 탈퇴페이지 */
#usersDeleteForm {
	text-align: center;
}

#usersDeleteForm form#usersDelete {
	width: 600px;
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px 0;
}

#usersDeleteForm ul {
	display: block;
	margin: 10px auto;
	padding-right: 20px;
	text-align: left;
}

#usersDeleteForm table, th, td {
	border: 1px solid rgb(20, 92, 28);
}

#usersDeleteForm table {
	border-collapse: collapse;
	margin: 10px 20px 20px 75px;
	padding-left: 40px;
}

#usersDeleteForm label {
	width: 95px;
	float: left;
	margin-top: 12px;
	margin-left: 170px;
	right: 0;
}

#usersDeleteForm input {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
}

#usersDeleteForm input#passwordCheck {
	margin-bottom: 20px;
}

#subbtn {
	margin: 10px 0 50px 220px;
}

#subbtn input{
	padding: 2px 10px;
}

/* 마이페이지 예약현황 조회 페이지 설정*/
table#orderList tr td a{
	text-decoration: none;
	color: blue;
	float: right;
}

/*
 * 관리자 기능 페이지 설정
 */

#admin_login_form {
	display: block;
	float: right;
	margin-top: 0;
}

/* 관리자 로그인 폼 설정 */
#admin_loginForm {
	text-align: center;
}

#admin_loginForm form#admin_login {
	width: 600px;
	margin: 20px auto;
	border: 1px solid rgb(20, 92, 28);
	border-radius: 10px;
	padding: 20px 0;
}

#admin_loginForm label {
	width: 95px;
	float: left;
	margin-top: 12px;
	margin-left: 150px;
	right: 0;
}

#admin_loginForm input {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
}

#admin_login_buttons {
	margin: 20px 0 70px 270px;
}

#loginbtn input{
	padding: 2px 10px;
}


/* 사이드메뉴 설정 */

.admin_side_menu {
	width: 150x;
	float: left;
	margin: 20px 0;
}

.admin_side_menu ul {
	margin-top: 20px;
	padding-left: 0; 
	list-style: none;
}

.admin_side_menu ul li:hover .header_submenu{
	display: block;
}

.admin_side_menu ul li a{
	text-decoration: none;
	color:rgb(20, 92, 28);
	font-weight:bold; 
	font-size:16px;
	display: block;
	height: 15px;
	width: 160px;
	padding: 7px;
	border-bottom: 1px dotted rgb(20, 92, 28);
}

.admin_side_menu a:hover {
    color: #e6e600;
    font-weight:bold; 
}

.admin_side_menu ul li ul.header_submenu{
	display: none;
	left: 450px;
	top: 189px;
	position: absolute;
	padding: 0;
    line-height: 25px;
    background-color: white;
}

.admin_side_menu ul li ul.header_submenu li{
	font-size: 13px;
}